body{
    background-color: #424242;
}
.options-title {
    color: white !important;
}

.options-title:hover {
    color: #910de0 !important;
}

.add-stream {
    padding-top: 10px;
}
#streamList {
    padding-top: 10px;
}

#stream-item  {
    background-color: #4c4c4c;
    color: white;
}

#inputStream {
    background-color: #4c4c4c;
    border-color: #9c9c9c;
    color: white;
}

#inputStream::-webkit-input-placeholder {
    color: white;
}