.stream-list-item {
    background-color: white;
    color: rgb(19 17 17);
}

.stream-list-item:hover {
    background-color: #b0b0b0;
}

.card:hover {
    background-color: #b0b0b0;
    cursor: pointer;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title.stream-display-name {
    font-size: 20px;
    margin-block-end: 0px;
    margin-bottom: 0px;
}

.stream-game {
    font-size: 12px;
}
