.container{
  padding-left: 2px !important;
  padding-right: 2px !important;
}

a {
  text-decoration: none !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}